################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LocalFileHosting
/LocalFileHosting.App/LocalFileHosting.App.csproj
/LocalFileHosting.App/ConsoleExplorer.cs
/LocalFileHosting.App/NetworkScanner.cs
/LocalFileHosting.App/Program.cs
/LocalFileHosting.App/ProgramClient.cs
/LocalFileHosting.App/ProgramHost.cs
